{% extends 'base.html' %} {% block content %}

<div>
  <section class="jumbotron text-center" id="mainBanner">
    <div class="container">
      <h1 class="jumbotron-heading">Food Card</h1>
      <p class="lead text-muted">
        Feel free to share your post about food at UTSC. The restaurant owner
        will love to review the post and make imporvement.
      </p>
      <p class="lead text-muted">
        Together we will make UTSC food court better.
      </p>
      <p>
        <a href="{% url 'uploadFoodCard' %}" class="btn btn-primary my-2"
          >Add Post here</a
        >
      </p>
    </div>
  </section>
</div>



<div class="card-columns">

    {% if foodCard|length == 0 %}
    <div><p>No data herre</p></div>

    {% else %}  
    
    


        {% for card in foodCard %}
    
        <div class="food-card card ">
            <img style="card-img-top" 
            src="{{card.image_url}}" alt="{{card.foodName}}"> 
          <div class="card-body">
            <h5 class="card-title">{{ card.foodName }}</h5>
            <p class="card-text">
               
                <ul id="comment-list-{{ card.id }}">
                {% for comment in card.get_comments %}
                
                <li>{{ comment.text }}</li>
                {% endfor %}
                </ul>  
            </p>



            <button id="add-comment-button-{{ card.id }}" data-button-id="{{ card.id }}" class="comment-button">Add Comment</button>
            <form id="comment-form-{{ card.id }}" class="comment-form" data-form-id="{{ card.id }}" method="post" action="{% url 'add_comment' card_id=card.id %}" style="display: none;">
                {% csrf_token %}
                <textarea name="comment_text" rows="3" cols="40"></textarea><br>
                <button type="submit">Submit Comment</button>
            </form>


            

          </div>
          <div class="card-footer d-flex justify-content-between align-items-center">
            <div>
            <button class="like-button" data-card-id="{{ card.id }}">Like</button>
            <span id="likes-count-{{ card.id }}">{{ card.like_count }}</span>
            <button class="dislike-button" data-card-id="{{ card.id }}">Dislike</button>
            <span id="dislikes-count-{{ card.id }}">{{ card.dislike_count }}</span>
            </div>
            <div>  <small class="text-muted">Uploaded By {{card.author}}</small>
            </div>
          </div>
        </div>
        {%endfor%}

        {%endif%}
    
    </div>
      
    </div>


<script>

    document.addEventListener('DOMContentLoaded', () => {
        addButtons = document.querySelectorAll('.comment-button');
        commentForms = document.querySelectorAll('.comment-form');


        addButtons.forEach(addButton =>{
            addButton.addEventListener('click', event =>{
                
                const formId = event.target.dataset.buttonId;
                
                addButton.style.display = 'none';
                commentForm = document.getElementById(`comment-form-${formId}`);
                commentForm.style.display = 'block';

            });
        });

        commentForms.forEach(commentForm =>{
            commentForm.addEventListener('submit', (event) =>{
                const formId = event.target.dataset.formId;
                event.preventDefault();
                const formData = new FormData(commentForm);
                commentForm.style.display = 'none';
                commentForm.reset();


                btn = document.getElementById(`add-comment-button-${formId}`);
                btn.style.display = '';

                fetch(commentForm.action, {
                    method: 'POST',
                    body: formData,
                    headers:{
                        'X-Requested-With': 'XMLHttpRequest',
                    },
                })
                .then(response => response.json())
                .then(data =>{
                    
                    var ul = document.getElementById(`comment-list-${formId}`);
                    var newLi = document.createElement('li');
                    newLi.textContent = data.comments;
                    ul.appendChild(newLi);
                    
                })
                .catch(error =>{
                    console.error('Error submitting comment:', error);
                });
            });
        });
    });
    
    document.addEventListener('DOMContentLoaded', () => {
        
        const cardContainers = document.querySelectorAll('.food-card');
    
        cardContainers.forEach(cardContainer => {
            cardContainer.addEventListener('click', event => {
                const targetButton = event.target;
                const cardId = targetButton.dataset.cardId;
    
                if (targetButton.classList.contains('like-button')) {
                 
                    updateCount(cardId, 'like');
                } else if (targetButton.classList.contains('dislike-button')) {
                   
                
                    updateCount(cardId, 'dislike');
                }
            });
        });



    });
    
    function updateCount(cardId, action) {
    
        fetch(`/${action}/${cardId}/`)
        .then(response => response.json())
        .then(data => {
            
            countElement = document.querySelector(`#${action}s-count-${cardId}`);
            countElement.textContent = data[action + 's']; // Update likes or dislikes count
        })
        .catch(error => {
            console.error(`Error ${action}ing card:`, error);
        });
    }



  </script>

{% endblock %} 


