{% extends 'base.html' %} {% block content %}
<div>
  <section class="jumbotron text-center" id="mainBanner">
    <div class="container">
      <h1 class="jumbotron-heading">Food Card</h1>
      <p class="lead text-muted">
        Feel free to share your post about food at UTSC. The restaurant owner
        will love to review the post and make imporvement.
      </p>
      <p class="lead text-muted">
        Together we will make UTSC food court better.
      </p>
      <p>
        <a href="{% url 'uploadFoodCard' %}" class="btn btn-primary my-2"
          >Add Post here</a
        >
      </p>
    </div>
  </section>
</div>

<div class="card-deck">
    
  
    {% for card in foodCard %}

    <div class="food-card card">
        <img style="card-img-top" 
        src="{{card.image_url}}" alt="{{card.foodName}}"> 
      <div class="card-body">
        <h5 class="card-title">{{ card.foodName }}</h5>
        <p class="card-text">{{ card.comments }}</p>
      </div>
      <div class="card-footer d-flex justify-content-between align-items-center">
        <div>
        <button class="like-button" data-card-id="{{ card.id }}">Like</button>
        <span id="likes-count-{{ card.id }}">{{ card.like_count }}</span>
        <button class="dislike-button" data-card-id="{{ card.id }}">Dislike</button>
        <span id="dislikes-count-{{ card.id }}">{{ card.dislike_count }}</span>
        </div>
        <div>  <small class="text-muted">Uploaded By {{card.author}}</small>
        </div>
      </div>
    </div>
    {% endfor %}


  </div>
</div>

<script>
    
      document.addEventListener('DOMContentLoaded', () => {
        
        const cardContainers = document.querySelectorAll('.food-card');
    
        cardContainers.forEach(cardContainer => {
            cardContainer.addEventListener('click', event => {
                const targetButton = event.target;
                const cardId = targetButton.dataset.cardId;
    
                if (targetButton.classList.contains('like-button')) {
                    console.log("like button click");
                    updateCount(cardId, 'like');
                } else if (targetButton.classList.contains('dislike-button')) {
                    console.log("dislike button click update");
                    updateCount(cardId, 'dislike');
                }
            });
        });
    });
    
    function updateCount(cardId, action) {
    
        fetch(`/${action}/${cardId}/`)
        .then(response => response.json())
        .then(data => {
            console.log("updateing data");
            console.log(data['likes']);
            countElement = document.querySelector(`#${action}s-count-${cardId}`);
            countElement.textContent = data[action + 's']; // Update likes or dislikes count
        })
        .catch(error => {
            console.error(`Error ${action}ing card:`, error);
        });
    }
    

  </script>

{% endblock %} 


