{% extends 'base.html' %}
{% block content %}
<div>

  <section class="jumbotron text-center" id="mainBanner">
      <div class="container">
          <h1 class="jumbotron-heading">Food Card</h1>
          <p class="lead text-muted">Feel free to share your post about food at UTSC. The restaurant owner will love to review the post and make imporvement. </p>
          <p class="lead text-muted">
              Together we will make UTSC food court better.
          </p>
          <p>
              <a href="{% url 'uploadFoodCard' %}" class="btn btn-primary my-2">Add Post</a>
          </p>
          
      </div>
  </section>




</div>

<div class="album py-5 bg-light">
  <div class="container">
        <div class="row">
          <div class="col-md-12" id="collection-heading">
              <span>My Collection</span>
          </div>
        </div>

    <div class="row d-flex">
        
        
          
    

        {% if foodCard|length == 0 %}
        <div><p> No data </p></div>

        {% else %}
        {% for food in foodCard %}
        
        <div class="col-md-4 d-flex align-items-stretch">
                <div class="card mb-4 box-shadow">
                    <img class="card-img-top" style="height: 25vh" src="{{food.image_url}}" alt="{{food.foodName}}">
                    <div class="card-body">
                       
                        <h5 class="card-title text-center">{{food.foodName}}</h5>
                        <p class="card-text">{{food.comments}}</p>
                    </div>
                        {% comment %} <div class=" "> {% endcomment %}
                        <div class="card-footer">
                            <div class="d-flex justify-content-between align-items-center ">
                                    <div class="btn-group">
                                    <button id="like1" class="btn btn-sm btn-outline-secondary">Like</button> <div id="like1-bs3"></div>
                                    <button id="dislike1" class="btn btn-sm btn-outline-secondary">Dislike</button> <div id="dislike1-bs3"></div>
                                    </div>
                                <small class="text-muted">Uploaded By {{food.author}}</small>
                       
                            </div>
                        </div>
                 
                    
                </div>
        </div>
        
        {%endfor%}
        {%endif%}
    </div>
  </div>
</div>

    

{% endblock %}